<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      Recommendation
    </ion-title>
    <ion-img src="../../../assets/icon/gatos-logo.png" slot="primary" class="gatos-logo"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="warning">
  <ion-grid>
    <ion-row>
      <ion-col size-sm="12">
        <ion-text color="dark" *ngIf="filteredBeers.length < 1">
          <h2>Choose Preferences</h2>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="12">
        <form action="" [formGroup]="form" *ngIf="filteredBeers.length < 1">
          <ion-item>
            <ion-select formControlName="style" label="Style" placeholder="Style" interface="popover" >
              <ion-select-option value="any">Any</ion-select-option>
              <ion-select-option *ngFor="let style of filterItems.styles" value="{{style}}">{{style}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-select  formControlName="alcohol"  label="Alcohol" placeholder="Alcohol"  interface="popover" >
              <ion-select-option value="any">Any</ion-select-option>
              <ion-select-option value="0">0</ion-select-option>
              <ion-select-option value="1">1-5</ion-select-option>
              <ion-select-option value="2">5-7</ion-select-option>
              <ion-select-option value="3">7-9</ion-select-option>
              <ion-select-option value="4">9+</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-select  formControlName="country" label="Country" placeholder="Country" interface="popover" >
              <ion-select-option value="any">Any</ion-select-option>
              <ion-select-option *ngFor="let country of filterItems.countries" value="{{country}}">{{country}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-select  formControlName="flavour"  label="Flavour" placeholder="Flavour"  interface="popover" >
              <ion-select-option value="any">Any</ion-select-option>
              <ion-select-option *ngFor="let flavour of filterItems.flavours" value="{{flavour}}">{{flavour}}</ion-select-option>
            </ion-select>
          </ion-item>

        </form>
        <ion-row *ngIf="filteredBeers.length < 1">
          <ion-col size-sm="6">
            <ion-button expand="block" color="dark"  (click)="submitForm()">Reccomend Me!</ion-button>
          </ion-col>
          <ion-col size-sm="6">
              <ion-button expand="block" fill="clear" color="dark" (click)="clearForm()">Clear Form</ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
