<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      Recommendation
    </ion-title>
    <ion-img src="../../../assets/icon/gatos-logo.png" slot="primary" class="gatos-logo"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="warning">
  <ion-grid>
    <ion-row>
      <ion-col size-sm="12">
        <ion-text color="dark">
          <h2>Choose Preferences</h2>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="12">
        <form action="">
          <ion-item>
            <ion-select label="Style" placeholder="Style">
              <ion-select-option value="any">Any</ion-select-option>
              <ion-select-option *ngFor="let style of styles" value="{{style}}">{{style}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-select label="Alcohol" placeholder="Alcohol">
              <ion-select-option value="any">Any</ion-select-option>
              <ion-select-option value="0">0</ion-select-option>
              <ion-select-option value="1">1-5</ion-select-option>
              <ion-select-option value="2">5-7</ion-select-option>
              <ion-select-option value="3">7-9</ion-select-option>
              <ion-select-option value="4">9+</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-select label="Country" placeholder="Country">
              <ion-select-option value="any">Any</ion-select-option>
              <ion-select-option *ngFor="let country of countries" value="{{country}}">{{country}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-select label="Flavour" placeholder="Flavour">
              <ion-select-option *ngFor="let flavour of flavours" value="{{flavour}}">{{flavour}}</ion-select-option>
            </ion-select>
          </ion-item>

        </form>
        <ion-row>
          <ion-col size-sm="6">
            <ion-button expand="block" color="dark"  (click)="pickRandom()">Reccomend Me!</ion-button>
          </ion-col>
          <ion-col size-sm="6">
              <ion-button expand="block" fill="clear" color="dark">Clear Form</ion-button>
          </ion-col>

        </ion-row>



      </ion-col>
    </ion-row>
  </ion-grid>



  <ion-grid>
    <ion-row>
      <ion-col size-sm="12">
        <ion-card *ngIf="randomBeer">
          <div class="ion-text-center">
            <img class="ion-padding beer__card--image-size" [src]="randomBeer.imageUrl" alt="{{randomBeer.name}}">
          </div>

          <ion-card-header>
            <ion-card-title>
              {{randomBeer.name}}
            </ion-card-title>
            <ion-card-subtitle>
              <strong>Style: </strong>{{randomBeer.style}} / <strong>Alc: </strong>{{randomBeer.alcohol}}º
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
          <p><strong>About: </strong> {{randomBeer.description}}</p>
            <p><strong>Notes:</strong> {{randomBeer.notes}}</p>
          </ion-card-content>
        </ion-card>
          </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-button expand="block"  (click)="pickRandom()" class="ion-text-center ion-padding" color="dark">
      Random Beer
  </ion-button> -->

</ion-content>
