<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/recommend"></ion-back-button>
    </ion-buttons>
    <ion-title>Recommendations </ion-title>
    <ion-img src="../../../assets/icon/gatos-logo.png" slot="primary" class="gatos-logo"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="warning">

  <ion-grid>
    <ion-row>
      <ion-col size-sm="8" offset-sm="2">
        <ion-spinner *ngIf="filteredBeers.length <= 0" name="circles" class="ion-padding center-item"></ion-spinner>
        <swiper-container effect="cards" *ngIf="filteredBeers" [options]="slideConfig" >
          <swiper-slide *ngFor="let beer of filteredBeers">
            <ion-card >
          <div class="ion-text-center">
            <img class="ion-padding beer__card--image-size" [src]="beer.imageUrl" alt="{{beer.name}}">
          </div>
          <ion-card-header>
            <ion-card-title>
              {{beer.name}}
            </ion-card-title>
            <ion-card-subtitle>
              <strong>Style: </strong>{{beer.style}} / <strong>Alc: </strong>{{beer.alcohol}}º
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
          <p><strong >About: </strong> {{beer.description | maxWords : 150}}</p>
            <p><strong>Notes:</strong> {{beer.notes}}</p>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
        </swiper-container>
        <ion-button color="dark" expand="block" (click)="onTryAgain()" *ngIf="filteredBeers.length !== 0">
          Try Again!
        </ion-button>

          </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
